.cartao__titulo{
	text-align: center;
}

.cartao{
	width: 40%;
	margin: 0 auto;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	margin-bottom: 15rem;
}

@media (max-width: 1375px){
	.cartao{
		width: 55%;
	}
}

@media (max-width: 900px){
	.cartao{
		width: 90%;
	}
}
.cartao__input{
	position: relative;
	padding-top: 13px;
	margin-bottom: 5%;
}

.campo__input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #d6eaff;
	padding: 5px 5px;
	display: inline-block;
	outline: none;
	transition: all .3s ease-out;
	font-size: 16px;
}

.campo__input:focus{
	border-bottom: 2px solid black;
}

.campo__input:focus + label,
.campo__input:valid + label{
	font-size: 13px;
	margin-top: 0;
}

.campo__input:invalid + label{
	color: red;
}

.card__label{
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 18px;
	transition: all .3s ease-out;
	color: gray;
	background-color: white;
	width: 100%;
}

form h2{
	font-size: 1.4rem;
	color: darkgrey;
}

.card__posicao__botao{
	text-align: center;
}

.card__botao{
	width: 40%;
	height: 50px;
	border-radius: 5px;
	background-color:  #81a473;
	border: none;
	color: white;
}